<script src="/public/libraries/jquery/dist/jquery.min.js"></script>
<script src="/public/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/libraries/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/public/libraries/moment/min/moment.min.js"></script>
<script src="/public/libraries/mustache/mustache.min.js"></script>
<script src="/public/libraries/numeral/min/numeral.min.js"></script>
<script src="/public/libraries/underscore/underscore-min.js"></script>
