<script id="ui-domains-list-loading-template" type="x-tmpl-mustache">
{{=<% %>=}}
    <tr class="ui-domain-no-data">
        <td class="text-center" colspan="7">
            <div class="sk-wandering-cubes">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
            </div>
        </td>
    </tr>
<%={{ }}=%>
</script>
