<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email (simple)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        p {
            margin-top: 30px;
            font-size: 16px;
        }

        br {
            font-size: 24px;
        }
    </style>
</head>
<body>
<p>Dear administrator of domain <strong th:text="${domain}"></strong>, <br/>
    The report of <strong th:text="${month}"></strong> can be found <a th:href="${url}">here.</a></p>
<p>
    Regards, <br/>
    &emsp; <em>MCC Team</em>
</p>
</body>
</html>
