<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ path }}</title>

        <link href="/public/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/libraries/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
        <link href="/public/libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/public/libraries/spinkit/css/spinkit.css" rel="stylesheet">
        <link href="/public/app/DetailedView.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div id="ui-title-row" class="row">
                <div class="col-md-12">
                    <h1>Cosmic Usage-based Billing <small>Bill Viewer</small></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 hidden-print">
                    <div id="ui-month-selector" data-provide="datepicker-inline"
                                                data-date-format="yyyy-mm"
                                                data-date-start-view="months"
                                                data-date-min-view-mode="months"
                                                data-date-max-view-mode="years"
                                                data-date-end-date="0d"
                                                data-date-templates='{
                                                        "leftArrow": "<i class=\"fa fa-chevron-left\" aria-hidden=\"true\"></i>",
                                                        "rightArrow": "<i class=\"fa fa-chevron-right\" aria-hidden=\"true\"></i>"
                                                    }'></div>
                </div>
                <div class="col-md-offset-1 col-md-3">
                    <h2>Prices</h2>
                    <h4>1 CPU unit <span class="label label-default pull-right">&euro; {{ config.cpuPrice }}</span></h4>
                    <h4>1 Byte of memory <span class="label label-default pull-right">&euro; {{ config.memoryPrice }}</span></h4>
                    <h4>1 Byte of storage <span class="label label-default pull-right">&euro; {{ config.storagePrice }}</span></h4>
                    <h4>1 public IP <span class="label label-default pull-right">&euro; {{ config.publicIpPrice }}</span></h4>
                </div>
                <div class="col-md-offset-1 col-md-3">
                    <h2>Fees</h2>
                    <h4>Service fee <span class="label label-default pull-right">{{ config.serviceFee }}%</span></h4>
                    <h4>Innovation fee <span class="label label-default pull-right">{{ config.innovationFee }}%</span></h4>
                </div>
            </div>
            <div class="row hidden-print">
                <div id="ui-error-message" class="col-md-12">
                    <!-- #ui-error-message-template -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 id="ui-domains-table-title">Detailed Bill <small>Virtual machines, volumes, networks, public IPs...</small></h2>
                    <table id="ui-domains-table" class="table">
                        <thead>
                            <tr>
                                <th class="ui-domains-table-header"
                                    data-label="Domain"
                                    data-sort-by="DOMAIN_PATH"
                                    data-sort-order="ASC"
                                    data-selected="true"></th>
                                <th class="ui-domains-table-header"
                                    data-label="CPU"
                                    data-sort-by="CPU"></th>
                                <th class="ui-domains-table-header"
                                    data-label="Memory"
                                    data-sort-by="MEMORY"></th>
                                <th class="ui-domains-table-header"
                                    data-label="Storage"
                                    data-sort-by="VOLUME"></th>
                                <th class="ui-domains-table-header"
                                    data-label="Public IP"
                                    data-sort-by="PUBLIC_IP"></th>
                                <th class="text-uppercase">Subtotal</th>
                                <th class="text-uppercase">Total (+fees)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- #ui-domains-detailed-list-template -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script id="ui-error-message-template" type="x-tmpl-mustache">
        {{=<% %>=}}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Oh snap!</strong> {{ errorMessage }}
            </div>
        <%={{ }}=%>
        </script>

        <script id="ui-domains-detailed-list-template" type="x-tmpl-mustache">
        {{=<% %>=}}
                <tr>
                    <td class="text-center ui-domain-title" colspan="7"><strong>{{ path }}</strong></td>
                </tr>
                <tr class="ui-domain-row">
                    <td>
                        <strong>Domain</strong><br>
                        {{ path }}<br>
                        ({{ uuid }})
                    </td>
                    <td class="text-center">
                        <strong>CPU</strong><br>
                        {{ costs.compute.cpu }} &euro;<br>
                        ({{ usage.compute.total.cpu }} unit(s))
                    </td>
                    <td class="text-center">
                        <strong>Memory</strong><br>
                        {{ costs.compute.memory }} &euro;<br>
                        ({{ usage.compute.total.memory }} MB)
                    </td>
                    <td class="text-center">
                        <strong>Storage</strong><br>
                        {{ costs.storage }} &euro;<br>
                        ({{ usage.storage.total }} Byte)
                    </td>
                    <td class="text-center">
                        <strong>Public IP</strong><br>
                        {{ costs.networking.publicIps }} &euro;<br>
                        ({{ usage.networking.total.publicIps }} unit(s))
                    </td>
                    <td class="text-center">
                        <strong class="text-uppercase">Subtotal</strong><br>
                        {{ costs.total }} &euro;
                    </td>
                    <td class="text-center">
                        <strong class="text-uppercase">Total (+fees)</strong><br>
                        {{ costs.totalInclFees }} &euro;
                    </td>
                </tr>
                <tr>
                    <td class="ui-virtual-machines-cell" colspan="7">
                        <h4>Virtual Machines in <strong>{{ path }}</strong></h4>
                        <table class="table ui-virtual-machines-table">
                            <tbody>
                                <tr class="ui-virtual-machine-row">
                                    <td colspan="7">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="text-center">
                                        <strong class="text-uppercase">Subtotal (+vol.)</strong><br>
                                        {{ pricing.totalPrice }} &euro;
                                    </td>
                                    <td class="text-center">
                                        <strong class="text-uppercase">Total (+vol. +fees)</strong><br>
                                        {{ pricing.totalPriceInclFees }} &euro;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table ui-virtual-machines-table">
                            <tbody>
                                {{# usage.compute.virtualMachines }}
                                    <tr class="ui-virtual-machine-row">
                                        <td>
                                            <strong>{{ hostname }}</strong><br>
                                            <span>{{ uuid }}</span>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        {{# instanceTypes }}
                                        <tr>
                                        <td class="text-center">
                                            <strong>CPU</strong><br>
                                            {{ cpu }} unit(s)
                                        </td>
                                        <td class="text-center">
                                            <strong>Memory</strong><br>
                                            {{ memory }} B
                                        </td>
                                        <td class="text-center">
                                            <strong>Duration</strong><br>
                                            {{ duration }} sec
                                        </td>
                                        <td class="text-center">
                                            <strong class="text-uppercase">Subtotal</strong><br>
                                            {{ pricing.price }} &euro;
                                        </td>
                                        <td class="text-center">
                                            <strong class="text-uppercase">Total (+fees)</strong><br>
                                            {{ pricing.priceInclFees }} &euro;
                                        </td>
                                        </tr>
                                        {{/ instanceTypes }}
                                        <td class="text-center">
                                            <strong>OS Type</strong><br>
                                            {{ osType }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ui-virtual-machine-volumes-cell" colspan="8">
                                            <h5>Volumes attached to <strong>{{ hostname }}</strong></h5>
                                            <table class="table ui-virtual-machine-volumes-table">
                                                <tbody>
                                                {{# volumes }}
                                                    <tr>
                                                        <td>
                                                            <strong>{{ name }}</strong><br>
                                                            <span>{{ uuid }}</span>
                                                        </td>
                                                        <td></td>
                                                         <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                    {{# volumeSizes }}
                                                <tr>
                                                        <td class="text-center">
                                                            <strong>Size</strong><br>
                                                            {{ size }} Byte
                                                        </td>
                                                         <td class="text-center">
                                                            <strong>Duration</strong><br>
                                                            {{ duration }} sec
                                                        </td>
                                                        <td class="text-center">
                                                            <strong class="text-uppercase">Subtotal</strong><br>
                                                            {{ pricing.price }} &euro;
                                                        </td>
                                                        <td class="text-center">
                                                            <strong class="text-uppercase">Total (+fees)</strong><br>
                                                            {{ pricing.priceInclFees }} &euro;
                                                        </td>
                                                    </tr>
                                                    {{/volumeSizes}}
                                                    </tr>
                                                {{/ volumes }}
                                                {{^ volumes }}
                                                    <tr>
                                                        <td class="text-center" colspan="4">None</td>
                                                    </tr>
                                                {{/ volumes }}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {{/ usage.compute.virtualMachines }}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {{^ usage.compute.virtualMachines }}
                 <tr>
                     <td class="ui-virtual-machine-volumes-cell text-center" colspan="8">None</td>
                 </tr>
                {{/ usage.compute.virtualMachines }}
                <tr>
                    <td class="ui-volumes-cell" colspan="7">
                        <h4>Volumes in <strong>{{ path }}</strong></h4>
                        <table class="table ui-volumes-table">
                            <tbody>
                                <tr class="ui-volumes-row">
                                    <td class="text-center">
                                            <strong class="text-uppercase">Subtotal</strong><br>
                                            {{ pricing.price }} &euro;
                                        </td>
                                        <td class="text-center">
                                            <strong class="text-uppercase">Total (+fees)</strong><br>
                                            {{ pricing.priceInclFees }} &euro;
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table ui-volumes-table">
                            <tbody>
                                {{# usage.storage.volumes }}
                                    <tr class="ui-volumes-row">
                                        <td>
                                            <strong>{{ name }}</strong><br>
                                            <span>{{ uuid }}</span>
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td></td>
                                        <td></td>
                                               {{# volumeSizes }}
                                                <tr>
                                                        <td class="text-center">
                                                            <strong>Size</strong><br>
                                                            {{ size }} Byte
                                                        </td>
                                                         <td class="text-center">
                                                            <strong>Duration</strong><br>
                                                            {{ duration }} sec
                                                        </td>
                                                        <td class="text-center">
                                                            <strong class="text-uppercase">Subtotal</strong><br>
                                                            {{ pricing.price }} &euro;
                                                        </td>
                                                        <td class="text-center">
                                                            <strong class="text-uppercase">Total (+fees)</strong><br>
                                                            {{ pricing.priceInclFees }} &euro;
                                                        </td>
                                                    </tr>
                                                    {{/volumeSizes}}
                                    </tr>
                                {{/ usage.storage.volumes }}
                                {{^ usage.storage.volumes }}
                                    <tr>
                                        <td class="text-center" colspan="4">None</td>
                                    </tr>
                                {{/ usage.storage.volumes }}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="ui-networks-cell" colspan="7">
                        <h4>Networks in <strong>{{ path }}</strong></h4>
                        <table class="table ui-networks-table">
                            <tbody>
                                {{# usage.networking.networks }}
                                    <tr class="ui-network-row">
                                        <td>
                                            <strong>{{ name }}</strong><br>
                                            <span>{{ uuid }}</span>
                                        </td>
                                        <td class="text-center">
                                            <strong>Type</strong><br>
                                            {{ type }}
                                        </td>
                                        <td class="text-center">
                                            <strong class="text-uppercase">Subtotal</strong><br>
                                            {{ pricing.price }} &euro;
                                        </td>
                                        <td class="text-center">
                                            <strong class="text-uppercase">Total (+fees)</strong><br>
                                            {{ pricing.priceInclFees }} &euro;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ui-network-public-ips-cell" colspan="4">
                                            <h5>Public IPs associated to <strong>{{ name }}</strong></h5>
                                            <table class="table ui-network-public-ips-table">
                                                <tbody>
                                                    {{# publicIps }}
                                                        <tr>
                                                            <td>
                                                                <strong>{{ value }}</strong><br>
                                                                <span>{{ uuid }}</span>
                                                            </td>
                                                            <td class="text-center">
                                                                <strong>State</strong><br>
                                                                {{ state }}
                                                            </td>
                                                            <td class="text-center">
                                                                <strong>Duration</strong><br>
                                                                {{ duration }} sec
                                                            </td>
                                                            <td class="text-center">
                                                                <strong class="text-uppercase">Subtotal</strong><br>
                                                                {{ pricing.price }} &euro;
                                                            </td>
                                                            <td class="text-center">
                                                                <strong class="text-uppercase">Total (+fees)</strong><br>
                                                                {{ pricing.priceInclFees }} &euro;
                                                            </td>
                                                        </tr>
                                                    {{/ publicIps }}
                                                    {{^ publicIps }}
                                                        <tr>
                                                            <td class="text-center" colspan="5">None</td>
                                                        </tr>
                                                    {{/ publicIps }}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {{/ usage.networking.networks }}
                                {{^ usage.networking.networks }}
                                    <tr>
                                        <td class="text-center" colspan="4">None</td>
                                    </tr>
                                {{/ usage.networking.networks }}
                            </tbody>
                        </table>
                    </td>
                </tr>
        <%={{ }}=%>
        </script>

        <script id="ui-domains-list-loading-template" type="x-tmpl-mustache">
        {{=<% %>=}}
            <tr class="ui-domain-no-data">
                <td class="text-center" colspan="7">
                    <div class="sk-wandering-cubes">
                        <div class="sk-cube sk-cube1"></div>
                        <div class="sk-cube sk-cube2"></div>
                    </div>
                </td>
            </tr>
        <%={{ }}=%>
        </script>

        <script src="/public/libraries/jquery/dist/jquery.min.js"></script>
        <script src="/public/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/public/libraries/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/public/libraries/moment/min/moment.min.js"></script>
        <script src="/public/libraries/mustache/mustache.min.js"></script>
        <script src="/public/libraries/numeral/min/numeral.min.js"></script>
        <script src="/public/libraries/numeral/min/locales/nl-nl.min.js"></script>
        <script src="/public/libraries/underscore/underscore-min.js"></script>
        <script src="/public/app/Class.js"></script>
        <script src="/public/app/CostCalculator.js"></script>
        <script src="/public/app/DetailedView.js"></script>
        <script>
            $(function() {
                new DetailedView(
                    "{{{ config.cosmicApiBaseUrl }}}",
                    "{{{ path }}}",
                    "{{{ token }}}",
                    {{{ config.cpuPrice }}},
                    {{{ config.memoryPrice }}},
                    {{{ config.storagePrice }}},
                    {{{ config.publicIpPrice }}},
                    {{{ config.serviceFee }}},
                    {{{ config.innovationFee }}}
                );
            })
        </script>
    </body>
</html>
