<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Cosmic Usage-based Billing - Billing Visualizer</title>

        {{> partials/libraries-css }}
        <link href="/public/app/DomainsView.css" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div id="ui-title-row" class="row">
                <div class="col-md-12">
                    <h1>Cosmic Usage-based Billing <small>Billing Visualizer</small></h1>
                </div>
            </div>

            {{> partials/error }}

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 id="ui-domains-table-title">Cosmic Domains <small>Please select the report you want to visualize</small></h2>
                            <table id="ui-domains-table" class="table table-striped">
                                <tbody>
                                    <!-- #ui-domains-list-template -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script id="ui-domains-list-template" type="x-tmpl-mustache">
        {{=<% %>=}}
            {{# domains }}
            <tr>
                <td style="font-size: 125%">
                    <strong style="font-size: 125%">{{ name }}</strong> &middot; {{ path }}
                </td>
                <td class="text-right" style="vertical-align: middle">
                    <a class="btn btn-default" role="button" href="/compute/{{ uuid }}?token={{ token }}">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                         Compute
                    </a>
                    <a class="btn btn-default" role="button" href="/storage/{{ uuid }}?token={{ token }}">
                        <i class="fa fa-hdd-o" aria-hidden="true"></i>
                         Storage
                    </a>
                    <a class="btn btn-default" role="button" href="/networking/{{ uuid }}?token={{ token }}">
                        <i class="fa fa-code-fork" aria-hidden="true"></i>
                         Networking
                    </a>
                    <a class="btn btn-primary" role="button" href="/detailed?path={{ path }}&token={{ token }}">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                        <i class="fa fa-hdd-o" aria-hidden="true"></i>
                        <i class="fa fa-code-fork" aria-hidden="true"></i>
                        Detailed
                    </a>
                </td>
            </tr>
            {{/ domains }}
            {{^ domains }}
                <tr class="ui-domain-no-data">
                    <td class="text-center">None</td>
                </tr>
            {{/ domains }}
        <%={{ }}=%>
        </script>

        {{> partials/loading }}
        {{> partials/libraries-js }}

        <script src="/public/app/Class.js"></script>
        <script src="/public/app/CostCalculator.js"></script>
        <script src="/public/app/DomainsView.js"></script>
        <script>
            $(function () {
                new DomainsView(
                    "{{{ config.cosmicApiBaseUrl }}}",
                    "{{{ token }}}"
                )
            });
        </script>
    </body>
</html>
